@import "colors";

@-webkit-keyframes rotate-headline {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes move-letters {
    0% {
        letter-spacing: 0px;
    }

    50% {
        letter-spacing: -100px;
    }

    100% {
        letter-spacing: 0px;
    }
}

@-webkit-keyframes rotate-letter {
    0% {
        letter-spacing: 0px;
    }

    10% {
        letter-spacing: 20px;
        -webkit-transform: rotate(0deg);
    }

    /* 50% { */
    /*     -webkit-transform: rotate(180deg); */
    /* } */

    90% {
        letter-spacing: 20px;
        -webkit-transform: rotate(60deg);
    }

    100% {
        letter-spacing: 0px;
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes highlight-letter {
    to {
        color: $color1;
    }
}

@-webkit-keyframes highlight-letter-blink {
    from {
        color: $color1;
    }

    to {
        color: $color1 * 0.9;
    }
}

$shadow-blink-color: #ABABAB;

@-webkit-keyframes shadow-blink {
    0% {
        text-shadow: 1px 1px 2px $shadow-blink-color;
    }

    50% {
        text-shadow: 1px 1px 5px $shadow-blink-color;
    }

    100% {
        text-shadow: 1px 1px 2px $shadow-blink-color;
    }
}