@-webkit-keyframes rotate-headline {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes move-letters {
  0% {
    letter-spacing: 0px; }

  50% {
    letter-spacing: -100px; }

  100% {
    letter-spacing: 0px; } }

@-webkit-keyframes rotate-letter {
  0% {
    letter-spacing: 0px; }

  10% {
    letter-spacing: 20px;
    -webkit-transform: rotate(0deg); }

  /* 50% { */
  /*     -webkit-transform: rotate(180deg); */
  /* } */
  90% {
    letter-spacing: 20px;
    -webkit-transform: rotate(60deg); }

  100% {
    letter-spacing: 0px;
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes highlight-letter {
  to {
    color: #598eff; } }

@-webkit-keyframes highlight-letter-blink {
  from {
    color: #598eff; }

  to {
    color: #507fe5; } }

@-webkit-keyframes shadow-blink {
  0% {
    text-shadow: 1px 1px 2px #ababab; }

  50% {
    text-shadow: 1px 1px 5px #ababab; }

  100% {
    text-shadow: 1px 1px 2px #ababab; } }

body {
  font-size: 40pt;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #393939; }

h1, h2, h3 {
  color: #393939;
  font-family: 'Alfa Slab One', cursive;
  font-family: 'Krona One', cursive; }

h2 {
  text-shadow: 1px 0px 40px #dcdcdc; }

ul {
  margin: 0px;
  list-style-type: square; }

li {
  color: #598eff;
  margin-left: 90px; }

.list-el {
  color: #393939; }

.scary {
  color: #064316;
  font-family: 'Eater', cursive;
  font-size: 120%; }

.ninja {
  color: black;
  font-family: 'Shojumaru', cursive;
  font-size: 110%; }

.bloody {
  color: #BF0909;
  font-family: 'Nosifer', cursive; }

.shadow {
  color: #598eff;
  -webkit-animation: shadow-blink 0.2s linear infinite; }

.underline {
  border-bottom: 8px solid #dcdcdc; }

.step {
  width: 900px; }

.category h1 {
  font-family: 'Krona One', cursive;
  font-size: 110pt;
  text-align: center;
  background: #dcdcdc;
  border-radius: 80px; }

.category.active {
  /* -webkit-animation: move-letters 0.5s 1s linear 1 both; */ }

.category.active .highlight-letters {
  -webkit-animation: highlight-letter 0.3s 2s linear 1, highlight-letter-blink 0.2s 2.2s infinite; }

.canvas-center {
  position: absolute;
  top: -50px;
  left: -50px;
  width: 100px;
  height: 100px;
  background: rgba(255, 0, 0, 0.7);
  border-radius: 40px; }

.rotate-headline {
  font-family: 'Alfa Slab One', cursive;
  font-size: 300pt;
  position: absolute;
  top: -1400px;
  left: -1730px;
  text-align: center;
  line-height: 150%;
  -webkit-animation: rotate-headline 480s linear infinite;
  padding: 300px;
  border: 100px solid #598eff;
  border-radius: 800px; }

.separator {
  content: '.';
  background: black;
  position: absolute;
  bottom: 0px;
  -webkit-transform: translate(-4050px) rotate(36deg);
  border-left: 4050px solid white;
  border-right: 4050px solid black;
  height: 10px; }
