@import "colors";
@import "anims";


body {
    font-size: 40pt;
    font-family: 'Open Sans Condensed', sans-serif;
    color: $blackish;
}

h1, h2, h3 {
    color: $blackish;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Krona One', cursive;
}

h1 {

}

ul {
    list-style-type: square;
}

li {
    color: $color1;
    margin-left: 90px;
}

.list-el {
    color: $blackish;
}

.scary {
    color: #064316;
    font-family: 'Eater', cursive;
    font-size: 120%;
}

.ninja {
    color: black;
    font-family: 'Shojumaru', cursive;
    font-size: 110%;
}

.bloody {
    color: #BF0909;
    font-family: 'Nosifer', cursive;
}

.step {
    width: 1024px;
}

.category h1 {
    font-family: 'Krona One', cursive;
    font-size: 150pt;
    text-align: center;
}

.category.active {
    /* -webkit-animation: move-letters 0.5s 1s linear 1 both; */
}

.category.active .highlight-letters {
    -webkit-animation: highlight-letter 0.3s 2s linear 1, highlight-letter-blink 0.2s 2.2s infinite;
}

.canvas-center {
    position: absolute;
    top: -50px;
    left: -50px;
    width: 100px;
    height: 100px;
    background: rgba(255,0,0,0.7);
    border-radius: 40px;
}

.rotate-headline {
    font-family: 'Alfa Slab One', cursive;
    font-size: 300pt;
    position: absolute;
    top: -1400px;
    left: -1730px;
    text-align: center;
    line-height: 150%;
    -webkit-animation: rotate-headline 480s linear infinite;
    padding: 300px;
    border: 100px solid $color1;
    border-radius: 800px;
}

$sepw: 8100px;

.separator {
    content: '.';
    background: black;
    position: absolute;
    bottom: 0px;
    -webkit-transform: translate(-$sepw/2) rotate(36deg);
    border: {
        left: $sepw/2 solid white;
        right: $sepw/2 solid black;
    };
    height: 10px;
}
